<nav class="navigation {{navBarScroll}}">
  <ul class="navigation__container">
      <a class="navigation__container-link active" aria-current="page" href="/"><img class="navigation__container--logo" src="../../../assets/img/FEUPFLIX_TRANSPARENT.png" alt=""></a>
      <div class="navigation__container-link pseudo-link">Home</div>
      <div class="navigation__container-link pseudo-link">TV Shows</div>
      <div class="navigation__container-link pseudo-link">Movies</div>  
      <div class="navigation__container-link pseudo-link">Recently Added</div>
      <div class="navigation__container-link pseudo-link">My List</div>

      <div class="navigation__container--left">
      </div> 
  </ul>
</nav>