
<div class="login-wrapper oi">
  <div class="login-wrapper-background">
    <img class="concord-img vlv-creative" src="../../../assets/img/background.jpg" alt="">
  </div>
  <div class="login-body">
      <div>
        <div class="login-content login-form hybrid-login-form hybrid-login-form-signup">
          <div class="hybrid-login-form-main">
              <h1>Sign In</h1>
              <div class="alertMessage" *ngIf="alertState">{{loginAlert}}</div>
              <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
                <input class="nfInput" type="text" name="email" placeholder="Email" ngModel>
                <br/>
                <input class="nfInput" type="password" name="password" placeholder="Password" ngModel>
                <br/>
                <input class="btn login-button btn-submit btn-small" type = "submit" value="Sign in">
             </form>
          </div>  
        </div>
        
      </div>
  </div>
</div>
