.login-wrapper {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.login-wrapper-background {
  opacity: .5;
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.login-body {
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
  margin: 0 auto -236px;
  min-height: 100vh;
  background-color: transparent;
  max-width: 450px;
}

.login-body:before {
  content: "";
  height: 91px;
  display: block;
}

.login-body:after {
  content: "";
  height: 236px;
  display: block;
}

.login-content {
  min-width: 380px;
}

.hybrid-login-form {
  background-color: rgba(0, 0, 0, .75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  width: 100%;
  padding: 60px 68px 40px;
  margin-bottom: 90px;
}

.hybrid-login-form-signup {
  min-height: 415px;
}

.hybrid-login-form .hybrid-login-form-main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hybrid-login-form h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  line-height: 1em;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: .1px;
  border-radius: 2px;
  user-select: none;
  text-align: center;

  border: 0;
  position: relative;

  color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .55);
}

.btn.btn-small {
  display: inline-block;
  min-width: 98px;
  min-height: 37px;
  line-height: 1em;
}

.login-button.btn {
  background: #e50914;
  padding: 16px;
  width: 100%;
  max-width: 100%;
}

.hybrid-login-form .login-button {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 12px;
}

.hybrid-login-form .login-input {
  padding-bottom: 16px;
}

.hybrid-login-form .nfInput {
  max-width: 100%;
}

.login-input {
  padding-bottom: 24px;
}

.nfInput {
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 25px;
  line-height: 25px;
  padding: 16px 20px 0;
  box-shadow: none;
  background: #333;
  width: 88%;
  margin-top: 10px;
}

.alertMessage {
    background: #e87c03;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 10px 20px;
    color: #fff;
}
